################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/ImaZipCoreProto01
/HalationGhostWpfViewModels/bin/Debug/netcoreapp3.0
/HalationGhostWpfViewModels/obj
/ImaZipCoreProto01/bin/Debug/netcoreapp3.0
/ImaZipCoreProto01/obj
/ImaZipSettingPanels/bin/Debug/netcoreapp3.0
/ImaZipSettingPanels/obj
/HalationGhostFileDialogService/bin/Debug/netcoreapp3.0
/HalationGhostFileDialogService/obj
/___HalationGhostFileDialogServiceCore
/HalationGhostUtilities/bin/Debug/netcoreapp3.0
/HalationGhostUtilities/obj
/ImaZipCoreProto01Settings/bin/Debug/netcoreapp3.0
/ImaZipCoreProto01Settings/obj
/ImaZipCoreProto01Work/bin/Debug/netcoreapp3.0
/ImaZipCoreProto01Work/obj
/HalationGhostCommonDialogInnerServiceFactory/bin/Debug/netcoreapp3.0
/HalationGhostCommonDialogInnerServiceFactory/obj
/HalationGhostCommonDialogService/bin/Debug/netcoreapp3.0
/HalationGhostCommonDialogService/obj
/HalationGhostWinApiCommonDialogInnerService/bin/Debug/netcoreapp3.0
/HalationGhostWinApiCommonDialogInnerService/obj
/ImaZipCoreProto01Agents/bin/Debug/netcoreapp3.0
/ImaZipCoreProto01Agents/obj
/ImaZipCoreProto01Models/bin/Debug/netcoreapp3.0
/ImaZipCoreProto01Models/obj
/HalationGhostMessageBoxService/bin/Debug/netcoreapp3.0
/HalationGhostMessageBoxService/obj
/HalationGhostPrismDialogExtensions/bin/Debug/netcoreapp3.0
/HalationGhostPrismDialogExtensions/obj
/HalationGhostDataAccessBase/obj
/HalationGhostDataAccessBase/bin/Debug/netcoreapp3.0
/HalationGhostDbAccessFactory/bin/Debug/netcoreapp3.0
/HalationGhostDbAccessFactory/obj
/HalationGhostDbAccessHelper/bin/Debug/netcoreapp3.0
/HalationGhostDbAccessHelper/obj
/HalationGhostSqliteDataAccess/bin/Debug/netcoreapp3.0
/HalationGhostSqliteDataAccess/obj
/ImaZipCoreProto01DataAccesses/bin/Debug/netcoreapp3.0
/ImaZipCoreProto01DataAccesses/obj
/ImaZipCreatoreProto01/bin/Debug/netcoreapp3.0
/ImaZipCreatoreProto01/obj
